@font-face {
    font-family: "Amery Thin Italic";
    src: url(fonts/amery_thin_italic.ttf);
}

@font-face {
    font-family: "Kepler Std Light Italic";
    src: url(fonts/Kepler\ Std\ Light\ Italic.otf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.times {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}

.amery {
    font-family: 'Times New Roman', sans-serif;
    color: white;
}

.container {
    width: 96vw;
    height: 98vh;
    flex-direction: column;
}

.bg {
    z-index: -1;
    position: absolute;
    width: inherit;
    height: inherit;
    -o-filter: blur(9px);
    filter: sepia(100%) hue-rotate(180deg) saturate(400%) blur(5px);
    object-fit: cover;
    transform: scale(1.04);
    overflow: hidden;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
}

.pub {
    font-family: 'Kepler Std Light Italic', Times, serif;
    color: white;
    letter-spacing: 2px;
}

.pub-title {
    font-size: larger;
    font-weight: bold;
}

a {
    color: #bbb;
    font-weight: bold;
}

a:hover {
    color: red;
}

@media only screen and (max-width: 600px) {
    .times {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: white;
        font-size: 8vw;
    }
  }

